* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('images/bg.jpg'); 
    background-size: cover;
    background-position: center;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background: rgba(0, 0, 0, 0.5);
}
header img{
    height: 35px;
    width: 35px;
    
}
.logo {
    display: flex;
    font-size: 30px;
    font-weight: bold;
    color: #FF4D4D;
    margin-left: 5px;
}
.logo span{
    margin-left: 10px;
}
.nav{
    margin-right: 50px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #FF4D4D;
    font-weight: bold;
}

nav a:hover {
    color: #fff;
}

.hero {
    display: flex;
    padding-top: 120px;
    padding-right: 450px;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    max-width: 600px;
}

.hero-content h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 16px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #FF4D4D;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #e03a3a;
}
